.form {
  width: 100%;
  padding: 1rem;
}

.fields {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.wrap_btn {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.fakeLink {
  margin-left: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.fakeLink:hover {
  color: rgb(23, 23, 169);
}
